<%- include('header') %>
<div class="site-container">

    <main>
        <div class="container-fluid h-100">
            <div class="row">
                <div class="col w-100 text-center">
                    menu
                </div>
            </div>
            <div class="row h-25">
                <div class="col bg-success text-center jumbotron">
                    mfec System
                </div>
            </div>

            <div class="row h-100">
                <div class="col-3 p-1 sidecol h-100 bg-primary">
                    <div class="row">
                        side top
                    </div>
                    <div class="row">
                        side middle
                    </div>
                </div>


                <div class="col">

                    <div class="row">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">สินค้า</a></li>
                                <li class="breadcrumb-item active" aria-current="page">ขายดี</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="row">
                        <div class="col-3 p-1">
                            <img src="image/new.jpg" width="100%">
                            สินค้าใหม่
                        </div>
                        <div class="col-3 p-1">
                            <img src="image/new.jpg" width="100%">
                            สินค้าใหม่
                        </div>
                        <div class="col-3 p-1">
                            <img src="image/new.jpg" width="100%">
                            สินค้าใหม่
                        </div>
                        <div class="col-3 p-1">
                            <img src="image/new.jpg" width="100%">
                            สินค้าใหม่
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2 p-1">
                            <img src="image/interest.jpg" width="100%">
                            สินค้าแนะนำ
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/interest.jpg" width="100%">
                            สินค้าแนะนำ
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/interest.jpg" width="100%">
                            สินค้าแนะนำ
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/interest.jpg" width="100%">
                            สินค้าแนะนำ
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/interest.jpg" width="100%">
                            สินค้าแนะนำ
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/interest.jpg" width="100%">
                            สินค้าแนะนำ
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                        <div class="col-2 p-1">
                            <img src="image/popular.jpg" width="100%">
                            สินค้าขายดี
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="row w-100 bg-info">
            <div class="col w-100 text-center">
                <h1>footer</h1>
            </div>
        </div>
    </footer>
</div>
<%- include('footer') %>